+article('Node.js alert: Google engineer finds flaw in NPM scripts', 'http://www.infoworld.com/article/3048526/security/nodejs-alert-google-engineer-finds-flaw-in-npm-scripts.html', 'http://core0.staticworld.net/images/article/2014/12/red_siren_warning-100533602-primary.idge.jpg')
        p. 
            Article summary here
        p.
            Article summary here continued