+article('About Me', 'http://www.google.ca', 'http://www.clipartbest.com/cliparts/9cp/bXg/9cpbXg8Ri.gif')
        p.
            Article about me here
        p.
            Article about me here continued
