+article('North Korea blocks access to Twitter, Facebook and YouTube', 'http://techcrunch.com/2016/04/01/north-korea-blocks-access-to-twitter-facebook-and-youtube/?ncid=rss&cps=gravity_1462_7796451114827941943', 'https://tctechcrunch2011.files.wordpress.com/2016/04/north-korea-flag.jpg?w=738')
        p.
            Article summary here
        p.
            Article summary here continued