+article('Teenagers have built a summary app that could help students ace exams', 'http://thenextweb.com/apps/2016/03/29/teenagers-built-summary-app-will-help-highschoolers-ace-exams/', 'http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2016/03/summize-summary-app.jpg')
        p.
            Article summary here
        p.
            Article summary here continued
        p.
            Article summary here continued
            