+article('PayPal is the latest victim of Java deserialization bugs in Web apps', 'http://www.pcworld.com/article/3026678/paypal-is-the-latest-victim-of-java-deserialization-bugs-in-web-apps.html', 'http://core2.staticworld.net/images/idgnsImport/2015/08/id-2958018-paypal-100601391-large.png')
        p.
            Article summary here
        p.
            Article summary here continued