+article('Google predicts Angular 2 is "not too far away"', 'http://www.infoworld.com/article/3050747/javascript/google-predicts-angular-2-is-not-too-far-away.html', 'http://core0.staticworld.net/images/article/2015/03/female-exec7-100572009-primary.idge.jpg')
        p. 
            Article summary here
        p.
            Article summary here continued