div(id="footer")
    div(class="row")
        div(class="col-md-2")
            a(href="https://en.wikipedia.org/wiki/Main_Page" class="thumbnail")                
                center
                    span
                        img(src="https://en.wikipedia.org/static/images/project-logos/enwiki.png" alt="wikipedia" style="width:50px;height:50px")
                    div(id="footname") Wikipedia
                
        div(class="col-md-2")
            a(href="https://www.linkedin.com/uas/login" class="thumbnail")  
                center
                    span
                        img(src="https://lh3.googleusercontent.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAUAY/1YtVwgbVuJk/s120-c/photo.jpg" alt="linkedin" style="width:50px;height:50px")
                    div(id="footname") LinkedIn
                
         div(class="col-md-2")
            a(href="https://www.facebook.com/" class="thumbnail")    
                center
                    span
                        img(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt="facebook" style="width:50px;height:50px")
                    div(id="footname") Facebook
        
        div(class="col-md-3")
            block footer
        
        div(class="col-md-3")
            p Copyright (C) 2016 Robert Mok ALL RIGHTS RESERVED