extends ./parent.jade

block h1
    h1 About
    
block article
    include ./includes/articledata4.jade
    
    include ./includes/articledata5.jade
    
    include ./includes/articledata6.jade
    
block footer
    div(id="cinfo")
        h4 Contact Information
        p Phone: XXX-XXX-XXXX 
        p Email: xxxxx@gmail.com